.text-style-title{
    font: 600 4rem/1.125 "poppins", sans-serif;   
}
.text-style-subtitle{
    font: 600 2rem/1.125 "poppins", sans-serif;   
}
.text-style-detail{
    font: 500 1.5rem/1.5 "Roboto", sans-serif;
    letter-spacing: 1.5%;
    text-transform: uppercase;
}
.text-style1{
    font: 500 1.125rem/2 "poppins", sans-serif;
}

.text-style2{
    font: 400 1.5rem/2.25 "Roboto", sans-serif;
}
.text-style2-1{
    font: 400 1rem/1.25 "Roboto", sans-serif;
}
.text-style2-2{
    font: 400 1.125rem/2 "Roboto", sans-serif;
}
.text-style2-3{
    font: 400 1.125rem/1.5 "Roboto", sans-serif;
}
.text-style3{
    font: 300 1.5rem/1.5 "Roboto", sans-serif;    
}
.text-style4{
    font: 500 1.125rem/2 "Roboto", sans-serif;
}
.text-style5{
    font: 600 1.5rem/2 "poppins", sans-serif;
    font-style: normal;
}
.text-style6{
    font: 500 1.5rem/2 "poppins", sans-serif;
}
.text-style7{
    font: 600 2.25rem/1.33 "poppins", sans-serif;
}
.text-style8{
    font: 600 0.75rem/1.33 "poppins", sans-serif;
}
.text-style9{
    font: 500 1.5rem/1.5 "Roboto", sans-serif;
}
.text-style-merri{
    font-size: 2.25rem;
    line-height: 1.33;
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
}

