.parceiros{
    padding-top:120px ;
    padding-bottom: 120px;
}
.parceiros h2{
    margin-bottom: 80px;
}

.parceiros ul{
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 0 auto;
    padding: 0 20px;
}
.parceiros li{
    padding: 32px;
    display: flex;
    border-left: 2px solid var(--c2);
}
.parceiros li img{
    margin: auto;
}
.parceiros li:first-child,
.parceiros li:nth-child(5){
    border-left:none;
}

.parceiros li:nth-child(n+5){
    border-top: 2px solid var(--c2);
}

@media (max-width:800px){
    .parceiros{
        padding-bottom: 60px;
    }
    .parceiros h2{
        margin-bottom: 20px;
    }
    .parceiros ul{
        grid-template-columns: repeat(2, 1fr);
    }
    .parceiros li:nth-child(n+3){
        border-top: 2px solid var(--c2);
    }
    .parceiros li:nth-child(odd){
        border-left: none;
    }
    .parceiros li{
        padding: 20px;
        
    }
}